.App {
  text-align: center;
}

.App-logo {
  width: 200px;
  height: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  font-size: 30px;
  color: #20a0c4;
}

.App-link:hover {
  transform: translateY(-0.8px);
  color: #3ab6d8
}

.options {
  margin-top: 6%;
  display: flex;
  gap: 20px; /* Reduced spacing between links */
}

.card {
  background-color: #e68d09;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 1;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  color: white;
}

.option-link {
  text-decoration: none;
  color: inherit;
}

.option-link h3 {
  margin-bottom: 10px;
}

.option-link p {
  color: #3a3a3a;
}

code
{
  color: white;
}

.cl_count  {
  background-color: #2ca9cc;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 100px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform transition */
}

.cl_count:hover {
  background-color: #16819e;
  transform: translateY(-4px); /* Smoother translateY transformation */
}

.show_ops
{
  background-color: #2ca9cc;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 100px;
  padding: 8px 18px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.show_ops:hover {
  background-color: #16819e;
  transform: translateY(-4px); /* Smoother translateY transformation */
}

.small-text {
  font-size: 18px;
}
